* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.main-home-container {
    min-height: 100vh;
    background-color: rgb(231, 231, 231);
}

.cabecalho {
    background-color: #1375BC;
    padding: 16px 32px 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-logo {
    width: 150px;
}

.cabecalho-logo:hover{
    cursor: pointer;
}

.cabecalho-loggedUser {
    color: white;
    margin-right: 128px;
}

.cabecalho-logout-btn {
    width: 100px;
    height: 40px;
    background-color: white;
    color: #1375BC;
    border-style: none;
    border-radius: 8px;
    font-size: 16px;
}

.cabecalho-logout-btn:hover {
    cursor: pointer;
}

.side-bar-show {
    top: 0;
    left: 0;
    transition: 350ms;
    position: fixed;
    display: flex;
    width: 200px;
    height: 100vh;
    background-color: #1375BC;
}

.side-bar-hide {
    top: 0;
    left: -100%;
    position: fixed;
    display: flex;
    position: fixed;
    transition: 850ms;
    width: 200px;
    height: 100vh;
    background-color: #060b26;
}

.side-bar-btn {
    width: 100%;
    height: 56px;
    border-style: none;
    background-color: #1375BC;
    color: white;
    text-align: left;
    padding-left: 15%;
}

.side-bar-btn:hover {
    cursor: pointer;
    background-color: #0b5e99;
}

.side-bar-closebtn {
    width: 32px;
    height:32px;
    margin: 24px;
    color: white;
}

.side-bar-closebtn:hover {
    cursor: pointer;
}

.side-bar-openbtn {
    width: 32px;
    height:32px;
    margin: 24px;
}

.side-bar-openbtn:hover {
    cursor: pointer;
}

.side-bar-menu-times {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
}

.main-competicao-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(360px, 1fr));
    padding: 32px;
    gap: 32px;
}

.competicao-container {
    display: flex;
    align-items: center;
    height: 240px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
}

.competicao-container:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}

.competicao-info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 2;
}

.competicao-img {
    width: 128px;
}

.competicao-label {

}

.competicao-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.competicao-btn-hide {
    display: none;
    width: 64px;
    height: 48px;
    border-style: none;
}

.competicao-btn-show {
    display: block;
    width: 64px;
    height: 48px;
    border-style: none;
}

#atualizar-competicao-btn {
    background-color: #1375BC;
    color: white;
    border-radius: 4px;
    width: 80%;
}

#atualizar-competicao-btn:hover {
    background-color: #2f8fd3;
    cursor: pointer;
}

#apagar-competicao-btn {
    background-color: rgb(238, 46, 46);
    color: white;
    border-radius: 4px;
    width: 80%;
}

#apagar-competicao-btn:hover {
    background-color: rgb(255, 75, 75);
    cursor: pointer;
}