* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.main-provascomp-container {
    min-height: 100vh;
    background-color: rgb(231, 231, 231);
    display: flex;
}

.main-prova-container {
    padding: 16px;
    flex: 1.5;
    /* width: 720px;
    height: 480px; */
}

.prova-container {
    display: flex;
    height: 56px;
    margin-bottom: 1px;
    background: white;
    padding: 0 8px 0 16px;
    /* padding: 16px; */
}

.prova-list {
    display: flex;
    width: 70%;
    list-style-type: none;
    align-items: center;
    gap: 24px;
}

.prova-list-item {
    display: flex;
    flex: 0.3;
}

.prova-list-btn-container {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: auto;
}

.prova-btn-hide {
    display: none;
    /* width: 96px;
    height: 32px;
    padding: 8px;
    border-style: none; */
}

.prova-btn-show {
    display: block;
    width: 96px;
    height: 32px;
    padding: 8px;
    border-style: none;
    /* border-radius: 8px; */
}

#goto-participants-btn {
    color: white;
}

#goto-participants-btn:hover {
    cursor: pointer;
}

#apagar-prova-btn {
    background-color: red;
    color: white;
}

#apagar-prova-btn:hover {
    cursor: pointer;
    background-color: rgb(255, 75, 75);
}

.update-prova-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.addprova-form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
    flex: 1;
}

.addprova-input {
    height: 56px;
    padding: 16px;
    font-size: 16px;
}

.addprova-input:focus {
    outline: none;
}

.select-box-container {
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
}

.info-prova-select-box {
    flex: 1;
    border-style: none;
    background-color: white;
}

.select-default {
    display: none;
}

.select-selected {
    background-color: blue;
}

.addprova-btn {
    width: 180px;
    height: 48px;
    padding: 8px;
    font-size: 16px;
    margin-top: 32px;
    background-color: #0076BF;
    border-style: none;
    border-radius: 8px;
    color: white;
    align-self: center;
}

.addprova-btn:hover {
    cursor: pointer;
    background-color: #009617;
}