.main-add-club-container {
    width: 100%;
    height: 100%;
}

.add-info-page-title {
    text-align: center;
    margin-top: 56px;
    font-family: 'QuicksandBold';
}

.add-club-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}

.add-club-input-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.add-club-label {
    font-size: 16px;
    font-family: 'QuicksandMedium', sans-serif;
    padding-left: 4px;
    padding-bottom: 4px;
}

.add-club-input {
    font-size: 16px;
    font-family: 'QuicksandRegular', sans-serif;
    height: 56px;
    padding-left: 8px;
    border: 1px solid #777;
    border-radius: 4px;
}

.add-club-input:focus {
    outline: none;
}

.add-new-club-btn {
    border-radius: 1em;
    border-style: none;
    /* background-color: white; */
    width: 136px;
    height: 40px;
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;
    font-family: 'QuicksandSemiBold';
}