* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.main-add-manager-container {
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.add-manager-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    height: 100%;
    align-items: center;
    margin-top: 48px;
    padding: 24px 0;
}

.add-manager-btn {
    border-radius: 1em;
    border-style: none;
    /* background-color: white; */
    width: 136px;
    height: 40px;
    font-size: 16px;
    margin-top: 16px;
}

.add-manager-btn:hover {
    cursor: pointer;
}