* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.main-login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #1375BC, #1794E8);
}

.login-container {
    width: 50%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}

.logo {
    width: 124px;
    margin-top: 24px;
}

.login-label-container {
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.login-label {
    /* margin: 8px 0 16px 0; */
    vertical-align: center;
    font-family: 'QuicksandBold', sans-serif;
}

.error-warning {
    background-color: rgb(255, 180, 180);
    color: rgb(216, 14, 14);
    width: 360px;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    /* justify-content: flex-start; */
    width: 100%;
    height: 100%;
    gap: 16px;
}

.login-input {
    /* width: 50%;
    height: 56px;
    padding: 8px;
    font-size: 16px;
    margin-top: 16px;
    /* border-radius: 0; */
    /* border-width: 0 0 1px 0; */
    /* border-style: solid; */

    width: 50%;
    font-size: 16px;
    font-family: 'QuicksandRegular', sans-serif;
    height: 56px;
    padding-left: 8px;
    border-radius: 8px;
    border-style: none;
    background-color: azure;
}

.login-input:focus {
    outline: none;
}

.login-btn {
    /* width: 30%; */
    /* height: 48px; */
    /* padding: 8px; */
    /* font-size: 16px; */
    /* margin-top: 32px; */
    /* background-color: #0076BF; */
    /* border-style: none; */
    /* border-radius: 8px; */
    /* color: white; */

    border-radius: 1em;
    border-style: none;
    /* background-color: white; */
    width: 136px;
    height: 40px;
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;
    font-family: 'QuicksandSemiBold';
}

.login-btn:hover {
    cursor: pointer;
}