* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.main-managerpermissions-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.users-list-container {
    padding: 32px 0;
    width: 90%;
}

.users-container {
    display: flex;
    /* height: 56px; */
    padding: 0 8px;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.users-info-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 56px;
    /* gap: 24px; */
    width: 100%;
    font-family: 'QuicksandRegular';
}

.users-list-item {
    display: flex;
    /* width: 50%; */
    flex: 1;
}

.status-label {
    display: flex;
    align-items: center;
    flex: 1;
}

#authorized-icon {
    margin-left: 8px;
    color: rgba(0, 160, 0, 0.8);
}

#not-authorized-icon {
    margin-left: 8px;
    color: rgba(225, 0, 0, 0.8);
}

#label-authorized {
}

#label-not-authorized {
    
}

.update-btn-autorizar {
    width: 180px;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-style: none;
    border-radius: 24px;
    font-family: 'QuicksandRegular';
    font-size: 16px;
}

.update-btn-autorizar:hover {
    cursor: pointer;
}

.update-btn-naoautorizar {
    width: 180px;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-style: none;
    border-radius: 24px;
    font-family: 'QuicksandRegular';
    font-size: 16px;
}

.update-btn-naoautorizar:hover {
    cursor: pointer;
}