* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana;
}

html body {
    height: 100%;
}

.container {
    height: 100vh;
}

.home-logo {
    width: 150px;
}

.home-logo:hover{
    cursor: pointer;
}

.cabecalho {
    background-color: #1375BC;
    padding: 16px 32px 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logged-user-label {
    margin-right: 128px;
    color: white;
}

.logout-btn {
    width: 100px;
    height: 40px;
    background-color: white;
    color: #1375BC;
    border-style: none;
    border-radius: 8px;
    font-size: 16px;
}

.logout-btn:hover {
    cursor: pointer;
}