@font-face {
    font-family: 'QuicksandLight';
    src: url('fonts/Quicksand-Light.ttf');
}

@font-face {
    font-family: 'QuicksandRegular';
    src: url('fonts/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'QuicksandMedium';
    src: url('fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'QuicksandSemiBold';
    src: url('fonts/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/Quicksand-Bold.ttf');
}

select {
    appearance: none;
    background-color: transparent;
    /* background-color: red; */
    border: 1px solid grey;
    padding: 0 1em 0 0;
    margin: 0;
    width: 30%;
    font-family: 'QuicksandMedium', sans-serif;
    font-size: 16px;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

/* .select-div {
    width: 30%;
}

.select-div:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
} */

select::-ms-expand {
    display: none;
}